* {
  box-sizing: border-box;
}

#fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: thin solid grey;
  background-color: white;


  z-index: -3;
}

.muneco {
  /* centramos verticalmente la patata */
  position: relative;
  top: 1em;
  margin: 0 auto;
  /* fin centrar verticalmente la patata */
  border: thin solid black;
  background-color: #eea08a;
  height: 30em;
  width: 30em;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
  z-index: 50;

}

.pelo {
  position: relative;
  height: 113px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: black;
  border: thin solid black;
  z-index: 1;
}

.ojos {
  position: absolute;
  height: 150px;
  top: 7em;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: thin solid #eea08a;
}

.ojo {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  border: thin solid black;
  border-radius: 50%;

}

.iris {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: brown;
  border: thin solid black;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.pupila {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background-color: black;
  border: thin solid black;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.ojo-lt {
  position: absolute;
  left: 1em;
  top: 1em;
}

.ojo-rt {
  position: absolute;
  right: 1em;
  top: 1em;
}


.pies {
  position: absolute;
  height: 35px;
  width: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;

  bottom: 0;
  background-color: #3e1c00;
  border: thin solid black;

  z-index: 6 ;
}


.bigotes {
  position: absolute;
  height: 113px;
  top: 16em;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #eea08a;

}

.bigote {
  position: relative;
  margin: 0 auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 3em;
  width: 13em;
  background-color: black;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
animation: mover-bigote 4s linear 3s alternate;

}

.redondabigote {
  position: relative;
  margin: 0 auto;
  left: 0;
  top: 35px;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 13em;
  background-color: #eea08a;
  border-radius: 50%;


  z-index: 1;
}

.cuerpo {
  position: relative;
  height: 150px;
  width: 30em;
  bottom: -365px;
}

.camisas {

  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 150px;
  width: 250px;
  background-color: #002f00;
  z-index: 1;

}

.linea {
position: relative;
border-color: black;
background-color: black;
right: 20px;
width: 3px;
height: 150px;
margin: 0 auto;
z-index: 10;


}

.boton {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: yellow;
  border: thin solid yellow;
  bottom: 150px;
  border-radius: 50%;
  z-index: 12;


}

 @keyframes mover-bigote {

  0%   { right:0px; left:0px; top:0px;}
  15%  { right:0px; left:100px; top:0px;}
  30%  { right:0px; left:100px; top:100px;}
  60% { right:200px; left:-100px; top:100px;}
  75% { right:200px; left:-100px; top:0px; }
  100% { right:0px; left:0px; top:0px; transform: rotate(360deg);}


}

@keyframes mover-brazos {

0%  { right:0px; left:60px; bottom:420px; }
50% { right:0px; left:50px; bottom:470px; }
70% { right:0px; left:50px; bottom:470px; }
100%  { right:0px; left:50px; bottom:470px; transform: rotate(90deg);}


}


.brazo {

position: relative;
bottom: 270px;
width: 50px;
height: 150px;
background-color: #002f00;
border-color: solid black;

}

.brazodere {

position: relative;
left: 368px;
z-index: 35;
}

.brazoizq {

position: relative;
left: 60px;
z-index: 15;
bottom: 420px;
animation: mover-brazos 2s linear 3s  alternate;

}

.hombros {

position: absolute;
margin: 0 auto;
bottom: 0;
top: 0;
left: 110px;
height: 50px;
width: 260px;
background-color: #002f00;
border-color: black;

}

.piernas {
  position: relative;
  height: 150px;
  width: 30em;
  bottom: -365px;
}

.pantalones {

  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 150px;
  width: 250px;
  background-color: #755235;
  z-index: 1;

}


.entrepierna {
position: relative;
border-color: white;
background-color: white;
right: 0;
top: 75px;
width: 30px;
height: 75px;
margin: 0 auto;
z-index: 10;
border-top-right-radius: 25%;
border-top-left-radius: 25%;

}

.manos {
  position: absolute;
  height: 35px;
  width: 50px;
  bottom: 0;
  background-color: #eea08a;
  border: thin solid black;

  z-index: 40 ;
}

.mano-izq {

position: absolute;
right: 0px;
}

.mano-dere {

position: absolute;
left: 0px;
animation: mover-brazos 2s linear 3s  alternate;
}
